@model  IEnumerable<Product> 


@foreach (var p in Model)
{
   <div class="card card-outline-primary m-1 p-1">
       <div class="bg-faded p-1">
           <h4>

               @*home/details .... href.. When we to navigate to another page instread of usig href TagHelpers*@
               <a href="home/details"> @p.Name</a>
               <span class="badge badge-pill badge-primary" style="float:right">
                   <small>@p.Price.ToString("c")</small>
               </span>
           </h4>
       </div>
       <div class="card-text p-1">@p.Description</div>
   </div>
}