@model IEnumerable<string>
<a class="btn btn-block btn-outline-secondary" asp-action="Index"
   asp-controller="Home" asp-route-category="">
    Home
</a>
<a class="btn btn-block btn-outline-secondary" asp-action="Aboutus"
   asp-controller="Home" >
    AboutUS
</a>
<a class="btn btn-block btn-outline-secondary" asp-action="Contact"
   asp-controller="Home">
   Contact
</a>
<a class="btn btn-block btn-outline-secondary" asp-action="Index"
   asp-controller="Customer">
    Customer
</a>
@foreach (string category in Model)
{
    <a class="btn btn-block btn-outline-secondary"
       asp-action="Index" asp-controller="Home"
       asp-route-category="@category"
       asp-route-productPage="1">
        @category
    </a>
}
